.main-panel {
  flex:1;
  display:flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  background-color: rgb(244, 235, 161);
}

.top-buttons {
  display: grid;
  border-radius: 20px;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  height:12%;
  gap: 20px;
  margin-bottom: 20px;
  padding: 2vh;
  background-color: #05cc9a;
}

.top-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #a5eddb;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 14px;
  cursor: pointer;
  font-weight: 500;

   transition: 
    transform 0.25 ease,
    box-shadow 0.25 ease,
    background-color 0.25 ease;
}

.top-buttons button:hover {
  transform: translateY(-5px) scale(1.04);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  background: linear-gradient(135deg, #15803d, #16a34a);
}

.top-buttons button:active{
  transform: translateY(0) scale(0.97);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.hostel-section {
  flex-grow:1;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #e9d8a6;
  padding: 20px;
  height:73vh;
  border-radius: 6px;
  text-align: center;

  animation: fadeUp 0.6s ease forwards;
}

.hostel-section img {
  height: 100%;
  width:100%;
  object-fit: cover;
  border-radius: 6px;
}

/* @keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(12px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
} */