

.form{
    height: 250px;
    padding-top: 20px;
    width: 300px;
    color: black;
    background-color: khaki;
    border: 4px solid red;
    border-radius: 14px;
    /* box-shadow: 8px 8px 4px rgb(68, 243, 217); */
}

.form input{
    padding-left: 8px;
    background-color: rgb(1, 56, 56);
    height: 20px;
    border: 2px solid white;
    border-radius: 8px;
}


/* Full page wrapper */
.form-page {
    
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  background: #f4f6f8;
}

/* Actual form box */
.form {
  
    margin-top: 10px;
  width: 100%;
  max-width: 600px;
  height: 500px;
  font-size: 20px;
  align-items: center;
  background: #8be0f9;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgb(100, 0, 0);
  
}

/* Heading */
.form-page h2 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}

/* Inputs & select */
.form input,
.form select {
  width: 350px;
  padding: 10px 12px;
  height: 28px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

/* Focus effect */
.form input:focus,
.form select:focus,
.form textarea:focus {
  border-color: #4f46e5;
}

/* Buttons container */
.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 16px;
}

/* Buttons */
.submit-btn {
  flex: 1;
  background: #026924;
  color: white;
  height: 40px;
  border: 3px solid white;
  border-radius: 14px;
  width: 250px;
  
}

.back-btn {
  flex: 1;
  background: #e5e7eb;
  color: #333;
  height: 40px;
  border: 3px solid white;
  border-radius: 14px;
  width: 250px;
}

/* Button hover */
.submit-btn:hover {
  background: #018763;
  
}

.back-btn:hover {
  background: #d1d5db;
}


.form {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Each row = label + input aligned */
.form-row {
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  column-gap: 16px;
}

/* Labels */
.form-row label {
  font-size: 18px;
  font-weight: 600;
  text-align: right;
  
  color: #374151;
}

.form-row input{
  width: 250px;
  height: 30px;
}

.form-row select{
  width: 250px;
  height: 40px;
}
/* Textarea alignment fix */
.form-row textarea {
  resize: vertical;
}
